{% load static %}
<head>
    <meta charset="utf-8">
    <title>Gimnasio Salomon</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">
 
    <!-- Flaticon Font -->
    <link href="{%static "lib/flaticon/font/flaticon.css" %} rel="stylesheet">

    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static "css/style.min.css" %}" rel="stylesheet">
</head>

<body class="bg-white">

<div class="container-fluid page-header mb-5">
    <div class="d-flex flex-column align-items-center justify-content-center pt-0 pt-lg-5" style="min-height: 400px">
        <h4 class="display-4 mb-3 mt-0 mt-lg-5 text-white text-uppercase font-weight-bold">Iniciar Sesion</h4>
        <div class="d-inline-flex">
            <p class="m-0 text-white"><a class="text-white" href="{% url 'mostrar' %}">Inicio</a></p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white">Iniciar Sesion</p>
            <p class="m-0 text-white px-2">/</p>
            <p class="m-0 text-white px-2">Si no tienes cuenta haz click en </p>
            <p class="m-0 text-white"><a class="text-white" href="{% url 'registrar' %}">Registrarme</a></p>
        </div>
    </div>
</div>

<form action="" method=="POST">{% csrf_token %}
    {{ form.as_p}}

<button type= "submit">Iniciar sesion</button>
</form>